<div class="card">
  <div class="card-body">
    <div class="heading-container">
      <h2 class="large-title">Employee skills at a glance:</h2>
      <h2 class="small-title">
        Efficient skill management with msg.ProfileMap – Your AI-based solution!
      </h2>
    </div>

    <h5 class="card-subtitle text-muted header-5">
      msg.ProfileMap's wide range of services at a glance:
    </h5>

    <div class="grid-container">
      <p class="indented-paragraph">
        <span
          >Welcome to the era of digital transformation. Transparency,
          adaptability and continuous skills development are the key to success
          here. In this dynamic landscape, the efficient management of employee
          skills and their use in optimally suited projects are crucial to
          strengthening competitiveness and driving innovation.</span
        >
        <br />
        <span
          >Discover a groundbreaking AI-based solution with msg.ProfileMap:
          Through the intelligent combination of AI and Natural Language
          Processing, you can identify skills gaps in real time and counteract
          bottlenecks in the talent pool.</span
        >
        <span>Deploy the best employees in your projects.</span><br />
        <span
          >This allows you to develop your team in a targeted manner and
          increase employee satisfaction in the long term.</span
        >
      </p>

      <img src="../../assets//images/logos/msg-teaser.png" alt="xtreme-ang" />
    </div>

    <h4 class="card-title m-1 p-2 between-grids">
      msg.ProfileMap's wide range of services at a glance:
    </h4>

    <div class="grid-container">
      <img
        src="../../assets//images/logos/msgprofilemap_2.png"
        alt="xtreme-ang"
      />

      <p class="indented-paragraph">
        <span
          >Welcome to the era of digital transformation. Transparency,
          adaptability and continuous skills development are the key to success
          here. In this dynamic landscape, the efficient management of employee
          skills and their use in optimally suited projects are crucial to
          strengthening competitiveness and driving innovation.</span
        >
        <br />
        <span
          >Discover a groundbreaking AI-based solution with msg.ProfileMap:
          Through the intelligent combination of AI and Natural Language
          Processing, you can identify skills gaps in real time and counteract
          bottlenecks in the talent pool.</span
        >
        <span>Deploy the best employees in your projects.</span><br />
        <span
          >This allows you to develop your team in a targeted manner and
          increase employee satisfaction in the long term.</span
        >
      </p>
    </div>

    <div class="margin-top text-center m-4 p-2">
      <a href="https://www.profilemap.de" class="btn btn-profile-map"
        >Check It Out</a
      >
    </div>
  </div>
</div>
