<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="page === 1">
      <a class="page-link" (click)="selectPage(1)" [class.disabled]="page === 1"
        ><< Prev</a
      >
    </li>
    <li class="page-item" [class.disabled]="page === 1">
      <a
        class="page-link"
        (click)="selectPage(page - 1)"
        [class.disabled]="page === 1"
        >1</a
      >
    </li>
    <li
      class="page-item"
      *ngFor="let p of pageRange"
      [class.active]="p === page"
    >
      <a class="page-link" (click)="selectPage(p)">{{ p }}</a>
    </li>
    <li class="page-item" [class.disabled]="page === totalPages">
      <a
        class="page-link"
        (click)="selectPage(page + 1)"
        [class.disabled]="page === totalPages"
        >2</a
      >
    </li>
    <li class="page-item" [class.disabled]="page === totalPages">
      <a
        class="page-link"
        (click)="selectPage(totalPages)"
        [class.disabled]="page === totalPages"
        >Next >></a
      >
    </li>
  </ul>
</nav>

<!-- <nav aria-label="Page navigation">
  <ul class="nav-pagination">
    <li class="page-item" [class.disabled]="page === 1">
      <a class="page-link" (click)="selectPage(1)"> << Prev</a>
    </li>
    <li class="page-item" [class.disabled]="page === 1">
      <a class="page-link" (click)="selectPage(page - 1)">1</a>
    </li>
    <li class="page-item" [class.disabled]="page === totalPages">
      <a class="page-link" (click)="selectPage(page + 1)">2</a>
    </li>
    <li class="page-item" [class.disabled]="page === totalPages">
      <a class="page-link" (click)="selectPage(totalPages)">Next >></a>
    </li>
  </ul>
</nav> -->
